@{
    ViewBag.Title = "About UCL";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>Background</h4>
<p>University College London, which has operated under the official name of UCL since 2005,[7][8][9] is a public research university located in London, United Kingdom.
It is a constituent college of the federal University of London, and is the third largest university in the United Kingdom by total enrolment,[5] and the largest by postgraduate enrolment.
Established in 1826 as London University by founders inspired by the radical ideas of Jeremy Bentham, UCL was the first university institution to be established in London, and the first in England to be entirely secular and to admit students regardless of their religion.[10][11]
UCL also makes the contested claims of being the third-oldest university in England[note 1] and the first to admit women.[note 2] In 1836 UCL became one of the two founding colleges of the University of London, which was granted a royal charter in the same year.
It has grown through mergers, including with the Institute of Neurology (in 1997), the Royal Free Hospital Medical School (in 1998), the Eastman Dental Institute (in 1999), the School of Slavonic and East European Studies (in 1999), the School of Pharmacy (in 2012) and the Institute of Education (in 2014).</p>
<hr />

<h4>Campus</h4>
<p>UCL has its main campus in the Bloomsbury area of central London, with a number of institutes and teaching hospitals elsewhere in central London and satellite campuses in Queen Elizabeth Olympic Park in Stratford, east London and in Doha, Qatar. 
UCL is organised into 11 constituent faculties, within which there are over 100 departments, institutes and research centres. 
UCL operates several culturally significant museums and manages collections in a wide range of fields, including the Petrie Museum of Egyptian Archaeology and the Grant Museum of Zoology and Comparative Anatomy, and administers the annual Orwell Prize in political writing. 
In 2017/18, UCL had around 41,500 students and 15,100 staff (including around 7,100 academic staff and 840 professors) and had a total group income of £1.45 billion, of which £476.3 million was from research grants and contracts.[2]
In the most recent Research Excellence Framework rankings for research power, UCL was the top-rated university in the UK as calculated by Times Higher Education,[12] and second as calculated by The Guardian/Research Fortnight.[13] 
UCL had the 9th highest average entry tariff in the UK for students starting in 2016.[14]</p>
<hr />

<h4>Ranking</h4>
<p>UCL is ranked from tenth to twentieth in the four major international rankings,[15][16][17][18] and from eighth to eleventh in the national league tables.[19][20][21]
UCL is a member of numerous academic organisations, including the Russell Group and the League of European Research Universities, and is part of UCL Partners, the world's largest academic health science centre,[22] and the "golden triangle" of research-intensive English universities.[23]
UCL alumni include the 'Father of the Nation' of each of India, Kenya and Mauritius, the founders of Ghana, modern Japan and Nigeria, the inventor of the telephone, and one of the co-discoverers of the structure of DNA. UCL academics discovered five of the naturally occurring noble gases, discovered hormones, invented the vacuum tube, and made several foundational advances in modern statistics.
As of 2018, 33 Nobel Prize winners and 3 Fields medalists have been affiliated with UCL as alumni, faculty or researchers.[note 3]</p>
