@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p><strong>Adress:</strong> University College London,</p>
    <p>Gower Street, London, WC1E 6BT</p>
</address>

<address>
    <p><strong>E-mail:</strong> library@ucl.ac.uk</p>
    <p><strong>Twitter:</strong> UCL Libraries</p>
    <p><strong>Telephone:</strong> 020 7679 7792 (internal 37792)</p>
    <p><strong>Post:</strong> UCL Library Services, UCL (University College London), Gower Street, London WC1E 6BT</p>
</address>