@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UCL</h1>
    <p class="lead">UCL is the number one London university for Research Strength (REF2014), recognised for its academic excellence and global impact.</p>
    <p><a href="https://ucl.ac.uk" class="btn btn-primary btn-lg">Go to UCL &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Undergraduates</h2>
        <p>All you need to know about how to apply, our entry requirements and how we select our students.</p>
        <p><a class="btn btn-info" href="https://www.ucl.ac.uk/undergraduate">Undergraduate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Graduates</h2>
        <p>Research degrees include MPhil, PhD and Doctorate programmes. Discover the right one for you and read our guides to applications, funding and more.</p>
        <p><a class="btn btn-info" href="https://www.ucl.ac.uk/graduate">Graduate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>International Students</h2>
        <p>Information for international students interested in studying in London at UCL. UCL has 18,000 students from outside the UK and many of our tutors are world leading academics in their field.</p>
        <p><a class="btn btn-info" href="https://www.ucl.ac.uk/international">International students &raquo;</a></p>
    </div>
</div>