body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.btn {
    margin-right: 5px;
    padding: inherit;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#footerText {
    font-size: 13px;
}

.page-footer {
    background-color: #45526e;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

a:hover{
    color: lightblue;
}
/*.button, .btnEdit, .btnDel, .btnInfo {
    text-decoration: none;
    border: 1px solid black;
    transition: all 0.4s ease 0s;
    margin: 0px 10px 10px 0px;
    padding: 5px 15px;
    color: white;
    background-color: black;
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
}

.btnInfo {
    background-color: steelblue;
    color: white;
    text-decoration: none;
}

.btnEdit {
    background-color: seagreen;
    color: white;
    text-decoration: none;
}

.btnDel {
    background-color: red;
    color: white;
    text-decoration: none;
}*/

/*.button:hover {
        background-color: black;
        color: white;
        text-decoration: none;
    }

    .btnedit:hover {
        background-color: steelblue;
        color: white;
        text-decoration: none;
    }

    .btninfo:hover {
        background-color: steelblue;
        color: white;
        text-decoration: none;
    }

    .btndel:hover {
        background-color: red;
        color: white;
        text-decoration: none;
    }*/